[Desktop Entry]
Name=EDGE PRIVACY CAMERA
Comment=Privacy-Preserving Home Security Camera
Exec=bash /home/raspberrypi/edge-privacy-camera/run.sh
Icon=camera-video
Terminal=false
Type=Application
Categories=Utility;Security;