[Desktop Entry]
Name=Face Detection Security Camera
Comment=Privacy-Preserving Home Security Camera
Exec=bash /home/raspberrypi/faceDetection/run.sh
Icon=camera-video
Terminal=false
Type=Application
Categories=Utility;Security;